.Window h3{
	color: #8f0000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}
.Window p{
	color: #222;
	font-size: 10pt;
	font-family: Verdana, Times, Helvetica, Tahoma;
}
.Window {
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background: rgba(0,0,0,0.7);
 z-index: 99999;
 -webkit-transition: opacity 400ms ease-in;
 -moz-transition: opacity 400ms ease-in;
 transition: opacity 400ms ease-in;
 display: none;
 // pointer-events: none;
}

/* .Window:target {
 display: block;
 pointer-events: auto;
} */

.Window > div {
 width: 565px;
 position: relative;
 margin: 10% auto;
 padding: 20px;
 border-radius: 5px;
 background: #f2f2f2;
 box-shadow: 0px 0px 20px 2px;
}

.Window .close {
 background: #cc3300;
 color: #FFFFFF;
 line-height: 25px;
 position: absolute;
 right: -12px;
 text-align: center;
 top: -10px;
 width: 24px;
 text-decoration: none;
 font-weight: bold;
 -webkit-border-radius: 12px;
 -moz-border-radius: 12px;
 border-radius: 12px;
 -moz-box-shadow: 1px 1px 3px #000;
 -webkit-box-shadow: 1px 1px 3px #000;
 box-shadow: 1px 1px 3px #000;
  z-index: 10000;
}
.Window .close:hover { background: #990000; }

.Window #jr_inner ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.Window #jr_inner ul li {
	cursor: pointer;
	float: left;
	width: 120px;
	height: 122px;
	margin: 0 10px 10px 10px;
	padding: 0;
	text-align: center;
}

.Window #jr_inner li a {
	color: #333;
	font-size: 0.8em;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.Window #jr_inner li a:hover {
	text-decoration: underline;
}

.Window #jr_inner .jr_icon {
	width: 100px;
	height: 100px;
	margin: 1px auto;
	padding: 0;
	background: transparent no-repeat scroll left top;
	cursor: pointer;
}
